<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>admin.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addcategory</servlet-name>
        <servlet-class>admin.Addcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscategory</servlet-name>
        <servlet-class>admin.Inscategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listcategories</servlet-name>
        <servlet-class>admin.Listcategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delcategory</servlet-name>
        <servlet-class>admin.Delcategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addcategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscategory</servlet-name>
        <url-pattern>/inscategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listcategories</servlet-name>
        <url-pattern>/listcategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delcategory</servlet-name>
        <url-pattern>/delcategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
